numpy
pandas
matplotlib
seaborn
selenium
requests
pymongo==4.13.0
APScheduler
pydantic
tqdm
bs4
json
langdetect
transformers
torch
together
google-generativeai
pyvi 
pyspellchecker
sentence-transformers
imblearn
xgboost
catboost
lightgbm
missingno
mplcursors
seaborn
